# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
dat
*.log
runModelConverter
# run/maps
run/rp
run/auth
run/generated
run/config
run-web/updates/launcher/java
run-launcher
out
